CompileFlags:
  Add: 
    - "-I/Users/carljosiah/Documents/clang/42-Cursus/cub3D/incs"
    - "-I/Users/carljosiah/Documents/clang/42-Cursus/cub3D/libft-custom/incs"
    - "-I/Users/carljosiah/Documents/clang/42-Cursus/cub3D/minilibx-linux"
    - "-I/Users/carljosiah/Documents/clang/42-Cursus/cub3D/minilibx-opengl"
    - "-Wall"
    - "-Wextra"
    - "-Werror"

Index:
  Background: Build
